<nav class="navbar navbar-expand-md navbar-light">
    <div class="navigation-header">
        <div class="ml-auto d-sm-block d-md-none">
            <ul class="navbar-nav language-list">
                <li>
                    <a class="{% if page.layout == 'docs-en' %}active{% endif %}" href="{{ page.permalink | replace: '/ja/', '/en/' }}">En</a>
                </li>
                <li>
                    <a class="{% if page.layout == 'docs-ja' %}active{% endif %}" href="{{ page.permalink | replace: '/en/', '/ja/' }}">Ja</a>
                </li>
            </ul>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="Navber">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/' %}active{% endif %}" href="/manuals/1.0/ja/index.html">イントロダクション</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/ia_and_alps.html' %}active{% endif %}" href="/manuals/1.0/ja/ia_and_alps.html">情報設計とALPS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/quick-start.html' %}active{% endif %}" href="/manuals/1.0/ja/quick-start.html">クイックスタート</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/tutorial.html' %}active{% endif %}" href="/manuals/1.0/ja/tutorial.html">チュートリアル</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/reference.html' %}active{% endif %}" href="/manuals/1.0/ja/reference.html">リファレンス</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/best_practice.html' %}active{% endif %}" href="/manuals/1.0/ja/best_practice.html">ベストプラクティス</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/shared_vocabulary.html' %}active{% endif %}" href="/manuals/1.0/ja/shared_vocabulary.html">共有ボキャブラリ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/iana_rels.html' %}active{% endif %}" href="/manuals/1.0/ja/iana_rels.html"> リンクリレーション</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/semantic-terms.html' %}active{% endif %}" href="/manuals/1.0/ja/semantic-terms.html"> セマンティック</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/advanced-guide.html' %}active{% endif %}" href="/manuals/1.0/ja/advanced-guide.html">高度な実装ガイド</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/prompt.html' %}active{% endif %}" href="/manuals/1.0/ja/prompt.html">プロンプト</a>
            </li>

            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/asd.html' %}active{% endif %}" href="/manuals/1.0/ja/asd.html">asd</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/example.html' %}active{% endif %}" href="/manuals/1.0/ja/example.html">例</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/link.html' %}active{% endif %}" href="/manuals/1.0/ja/link.html">リソース</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/faq.html' %}active{% endif %}" href="/manuals/1.0/ja/faq.html">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/ja/rfc-draft-7.html' %}active{% endif %}" href="/manuals/1.0/ja/rfc-draft-7.html">RFC</a>
            </li>

        </ul>
    </div>
</nav>
