<nav class="navbar navbar-expand-md navbar-light">
    <div class="navigation-header">
        <div class="ml-auto d-sm-block d-md-none">
            <ul class="navbar-nav language-list">
                <li>
                    <a class="{% if page.layout == 'docs-en' %}active{% endif %}" href="{{ page.permalink | replace: '/ja/', '/en/' }}">En</a>
                </li>
                <li>
                    <a class="{% if page.layout == 'docs-ja' %}active{% endif %}" href="{{ page.permalink | replace: '/en/', '/ja/' }}">Ja</a>
                </li>
            </ul>
./            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="Navber">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/' %}active{% endif %}" href="/manuals/1.0/en/index.html">Introduction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/ia_and_alps.html' %}active{% endif %}" href="/manuals/1.0/en/ia_and_alps.html">IA and ALPS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/quick-start.html' %}active{% endif %}" href="/manuals/1.0/en/quick-start.html">Install</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/tutorial.html' %}active{% endif %}" href="/manuals/1.0/en/tutorial.html">Basic Tutorial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/tutorial_rest.html' %}active{% endif %}" href="/manuals/1.0/en/tutorial_rest.html">REST Tutorial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/reference.html' %}active{% endif %}" href="/manuals/1.0/en/reference.html">ALPS Reference</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/best_practice.html' %}active{% endif %}" href="/manuals/1.0/en/best_practice.html">Best Practise</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/shared_vocabulary.html' %}active{% endif %}" href="/manuals/1.0/en/shared_vocabulary.html">Shared Vocabulary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/iana_rels.html' %}active{% endif %}" href="/manuals/1.0/en/iana_rels.html">Link Relations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/semantic-terms.html' %}active{% endif %}" href="/manuals/1.0/en/semantic-terms.html">Semantic Terms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/example.html' %}active{% endif %}" href="/manuals/1.0/en/example.html">Example</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/link.html' %}active{% endif %}" href="/manuals/1.0/en/link.html">Resource</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/manuals/1.0/en/faq.html' %}active{% endif %}" href="/manuals/1.0/en/faq.html">FAQ</a>
            </li>
        </ul>
    </div>
</nav>
